.row
  .small-12.columns
    %h1.welcome_font
      Welcome to Client Tracker, a place where you can grow your business
      by tracking your clients
  .small-12.columns
    .pic_wrap
      .pic_one
    .pic_wrap
      .pic_two
    .pic_wrap
      .pic_three
  .small-12.columns
    .start_btn
      %h2
        %a=link_to "Start Tracking", user_path(current_user)


