.client_row
  %ul
    %li
      .client_lister
        %ul
          %li= applicant.client_name
          %li= applicant.date_created
          %li= applicant.phone

          %span= button_to("Delete", applicant_path(applicant), method: :delete, data: {id: applicant.id }, class: "button small del_btn" )


