.row
  .small-12.columns
    .add-btn
      %a{href: 'applicants/index'} ADD CLIENT
    %h3.client-title CLIENTS
    .app-nav
      %ul
        %li
        %li NAME
        %li DATE CREATED
        %li PHONE
        %li
  .small-12.columns
    .row-temp
      = render @user.applicants

