.row
  .small-12.columns
    .add-btn
      %a{href: 'applicants/index'} ADD CLIENT
    %h3.green-font CLIENTS
    .app-nav
      %ul
        %li NAME
        %li DATE CREATED
        %li PHONE
  .small-12.columns
    .row-temp
      = render @user.applicants

